.nav-bar   {
    list-style: none;
    display: flex;
    flex-direction: row;
    color: black;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    padding-left: 50px;
    
}